  <%- include('./partials/head') %>
</head>

<body class="intro">
<div class="intro-content">
  <h1> Merlin's Book of Potions</h1>
  <img src="../../assets/images/intro.png" class="ingredients-image" alt="intro" width="300" height="180">
  <a href="/brew"> Start Brewing <svg width="48" height="12" viewBox="0 0 48 12" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M38.1836 0.219684L46.8605 5.28553C47.1534 5.57843 47.1534 6.0533 46.8605 6.34619L38.1836 10.8263C37.8907 11.1192 37.4159 11.1192 37.123 10.8263C36.8301 10.5334 36.8301 10.0585 37.123 9.76563L44.5195 6.56586H7.91025L4.33013 10.146L0 5.81586L4.33013 1.48574L7.91025 5.06586H44.5195L37.123 1.28034C36.8301 0.987451 36.8301 0.512578 37.123 0.219684C37.4159 -0.073209 37.8907 -0.073209 38.1836 0.219684Z" fill="white"/>
</svg>
</a>
</div>
</body>
</html>
