<%- include('./partials/head') %>

<body class="intro">
  <article class="brew-potion">
    <div class="potion-result">
      <img
        src="../../assets/images/nasty-potion.png"
        alt="nasty-potion"
        width="400"
        height="400"
        class="potion-img"
      />
      <img
        src="../../assets/images/cloud.png"
        alt="cloud"
        width="400"
        height="400"
        class="cloud-img"
      />
    </div>
    <h1 class="brew-result">You brewed a nasty potion</h1>
    <a href="/brew">Brew more</a>
  </article>
</body>
