<%- include('./partials/head') %>
<body class="intro">
  <section class="brew-potion">
    <img src="<%=potion.asset%>" />
    <h1 class="brew-result">You brewed a <%= potion.name %></h1>
  </section>
</body>
