@font-face {
  font-family: "MedievalSharp";
  src: url("../../assets/fonts/MedievalSharp-Regular.ttf");
}

:root {
  --primary-color-1: #8806d8;
  --secundary-color-2: #ed663c;
  --white: #fff;
  --black: #000;

  --rX: 0;
  --rY: 0;
  --bX: 50%;
  --bY: 80%;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("../../assets/images/background-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: MedievalSharp, sans-serif;
  overflow-y: hidden;
  position: relative;
  cursor: url("../../assets/images/magical-staff.png"), auto;
}

body.intro::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/images/background-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  filter: brightness(50%);
  z-index: -1;
}

main {
  margin: 0 auto;
  width: fit-content;
}

/* Index / Zero state */
.intro {
  margin: auto;
}

.intro-content {
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white);
}

h1 {
  text-align: center;
  font-size: 3rem;
  color: var(--white);
  margin: 0.5em;
}

p {
  font-size: 18px;
}

.floating-text {
  animation: floating 3s cubic-bezier(0.37, 0, 0.63, 1) infinite;
  animation: tilting 3s cubic-bezier(0.37, 0, 0.63, 1) infinite;
}

section span:hover {
  font-weight: 100;
}

@keyframes floating {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 5vh);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes floating-secondary {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 1vh);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes tilting {
  0% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(1deg);
  }
}

a {
  padding: 1rem 1.7rem;
  background-image: linear-gradient(135deg, #8806d8, #ff8a19, #ed663c, #8806d8);
  background-color: var(--primary-color-1);
  color: var(--white);
  border: var(--border-style-black);
  text-decoration: none;
  font-weight: 500;
}

a:active {
  scale: 0.8;
}

a:hover {
  /* box-shadow: var(--primary-color-1) 7px 7px 29px 7px; */
}

.link {
  text-decoration: none;
  color: var(--white);
}

.link:hover {
  text-decoration: underline;
  color: var(--primary-color-1);
}

/* BREW */

.button {
  position: absolute;
  bottom: 20vh;
  text-decoration: none;
  color: var(--white);
  background-color: var(--primary-color-1);
  padding: 10px;
  margin: 1rem;
  margin-top: 0;
  border: none;
}

.cauldron {
  padding: 2.5em;
  padding-top: 10em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

form {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: auto;
}

input[type="checkbox"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
}

fieldset {
  border: none;
  border-radius: 10px;
  backdrop-filter: blur(50px);
  padding: 1.5em;
  margin: 0.3em;
  width: fit-content;
  cursor: pointer;
}

& input:checked ~ label img:nth-child(1) {
  filter: blur(3px) grayscale(80%);
}

.ingredient {
  width: 152px;
  height: 152px;
  display: flex;
  overflow-x: auto;
  align-items: center;
  justify-content: center;
  margin: 10px;
  cursor: pointer;
}

.ingredient img {
  width: 152px;
  height: 152px;
}

/* POTION & NASTY-POTION PAGINA */

.brew-potion {
  height: 100%;
  width: 80vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.brew-result {
  font-size: 2rem;
  margin-top: 3em;
}

.potion-img,
.cloud-img {
  object-fit: cover;
  width: 50%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.potion-img {
  z-index: 1;
}

/* Toast Notification */

.toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: var(--primary-color-1);
  color: var(--white);
  text-align: center;
  border-radius: 5px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

.toast.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

/* Card Potions */

.cards {
  display: flex;
  width: 95vw;
  overflow-x: auto;
  position: relative;
  margin: auto;
}

@supports (scrollbar-width: none) {
  .cards {
    scrollbar-width: none;
  }
}

.wrap-cards {
  margin: 2rem;
  transform-style: preserve-3d;
  transform: perspective(100rem);
  cursor: pointer;
}

.potion-card {
  width: 30rem;
  height: 36rem;
  border: 1px solid var(--background-color);
  border-radius: 1.6rem;
  padding: 4rem;
  display: flex;
  align-items: flex-end;
  position: relative;
  transform: rotateX(calc(var(--rX) * 1deg)) rotateY(calc(var(--rY) * 1deg));
  background: linear-gradient(hsla(0, 0%, 100%, 0.1), hsla(0, 0%, 100%, 0.1));
  background-position: var(--bX) var(--bY);
  background-size: 40rem auto;
  box-shadow: 0 0 3rem 0.5rem var(--black) (0, 0%, 0%, 0.2);
  transition: transform 0.6s 1s;
}

.potion-card::before,
.potion-card::after {
  content: "";
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--white);
  position: absolute;
  z-index: 2;
  opacity: 0.3;
  transition: 0.3s;
}

.potion-card::before {
  top: 2rem;
  right: 2rem;
  border-bottom-width: 0;
  border-left-width: 0;
}

.potion-card::after {
  bottom: 2rem;
  left: 2rem;
  border-top-width: 0;
  border-right-width: 0;
}

.potion-card--active {
  transition: none;
}

.wrap-cards:hover .potion-card::before,
.wrap-cards:hover .potion-card::after {
  width: calc(100% - 4rem);
  height: calc(100% - 4rem);
}
