@font-face {
  font-family: "MedievalSharp";
  src: url("../../assets/fonts/MedievalSharp-Regular.ttf");
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("../../assets/images/background-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: MedievalSharp, sans-serif;
  overflow-y: hidden;
  position: relative;
}

body.intro::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/images/background-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  filter: brightness(50%);
  z-index: -1;
}

main {
  margin: 0 auto;
  width: fit-content;
}

.intro {
  margin: auto;
}

.intro-content {
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

h1 {
  text-align: center;
  font-size: 3rem;
  color: var(--text-color);
  margin: 0.5em;
}

a {
  padding: 1rem 1.7rem;
  background-image: linear-gradient(135deg, #8806d8, #ff8a19, #ed663c, #8806d8);
  color: white;
  border: var(--border-style-black);
  text-decoration: none;
  font-weight: 500;
}

.link {
  text-decoration: none;
  color: white;
}

.link:hover {
  text-decoration: underline;
  color: #8806d8;
}

.button {
  text-decoration: none;
  color: white;
  background-color: #8806d8;
  padding: 10px;
  margin: 1rem;
}

.cauldron {
  padding: 2.5em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

form {
  display: flex;
  flex-direction: row;
  width: 99vw;
  overflow-x: auto;
}

fieldset {
  border: none;
  border-radius: 10%;
  backdrop-filter: blur(50px);
  padding: 10px;
  margin: 10px;
  width: fit-content;
}

.ingredients-container {
  display: flex;
  overflow-x: auto;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
}

.ingredient {
  height: 152px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px;
}

.ingredient img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
}

.ingredient-card h2 {
  margin-top: 10px;
  font-size: 14px;
}
